[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=keyboard

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoinstResource=

Icon=keyboard
Exec=/sbin/yast2 keyboard 

Name=Select Keyboard Layout
GenericName=This module changes the keyboard layout
Name[cs]=Výběr rozložení klávesnice
GenericName[cs]=Tento modul mění rozvržení klávesnice
Name[de]=Tastaturbelegung auswählen
GenericName[de]=Mit diesem Modul ist es möglich, die Tastaturbelegung zu ändern.
Name[es]=Seleccione la distribución del teclado
GenericName[es]=Este módulo cambia la distribución del teclado
Name[hu]=Billentyűkiosztás beállítása
GenericName[hu]=Ebben a modulban megváltoztathatja a beállított billentyűzetkiosztást
Name[it]=Selezionate la mappatura della tastiera
GenericName[it]=Questo modulo cambia la mappatura della tastiera
Name[ko]=키보드 배열 선택
GenericName[ko]=이 모듈은 키보드 배열을 변경합니다
Name[nl]=Selecteer toetsenbord layout
GenericName[nl]=Deze module verandert de toetsenbord layout
Name[pt]=Selecione o mapa do teclado
GenericName[pt]=Este módulo modifica o mapa do teclado
Name[sk]=Výber klávesnice
GenericName[sk]=Tento modul mení typ klávesnice
Name[sv]=Välj tangentbordslayout
GenericName[sv]=Den här modulen ändrar tangentbordslayout
Name[bg]=Избор на клавиатурна подредба
GenericName[bg]=Този модул променя клавиатурната подредба
GenericName[da]=Dette modul ændrer tastaturets layout
Name[el]=Επιλέξτε Διάταξη Πληκτρολογίου
GenericName[el]=Αυτό η μονάδα αλλάζει τη διάταξη πληκτρολογίου
Name[fr]=Sélectionnez la disposition du clavier
GenericName[fr]=Ce module change la disposition du clavier
Name[ja]=キーボード配列の選択
GenericName[ja]=このモジュールで、キーボード配列の変更ができます。
GenericName[lt]=Šis modulis pakeičia klaviatūros išdėstymą
GenericName[ru]=Этот модуль изменяет раскладку клавиатуры
Name[sl]=Izberite razpored tipkovnice
GenericName[sl]=Ta modul spremeni razpored tipkovnice
Name[tr]=Klavye düzeni seçin
GenericName[tr]=Bu modül klavye düzenini değiştirir
